
header {
  background-color:  #fb3640 ;
   color: rgba(245, 224, 40, 0.993);
   height: 200px;
   
}
body{
  margin: 0%;
  background-color: #fed049;
color: #0a0601d3;
   }

header nav{
  float: right;
  width:30%;
}
header div {
  float: center;
}

header nav ul li {
  display: inline-block;
}
header nav  {
  margin-top: -30px;
}
header nav ul li {
 text-decoration: none;
 margin-left: 25px;
}
header nav ul li a{
 text-decoration: none;
 margin-left:20px;
}
header nav ul li a{
 text-decoration: none;
 margin-left: 20px;
}
#first {
   letter-spacing: 4px;
  width:500px ;
  height:900px ;
   margin: 50px 0 25px 10%;
    text-align: center;
  padding:2%;
}
 #A {
  margin-left: 900px;
margin-top:  -950px;
}
 #B{
  margin-left: 900px;
margin-top:  20px;
}
 #C {
  margin-left: 900px;
margin-top:  20px;
margin-bottom: 20px;
}


footer{
  height:200px;
  background-color: #fb3640;
  color: #0a0601d3;
  
}
footer div {
  text-align: center


}
footer nav {
  margin-left: 1300px;
  margin-top: -10px;
}
